.icon {
    padding: 20px 20px;
    display: inline-block;
    margin-top: 18px;
    font-size: 2em;
    border-radius: 12px;
    text-transform: uppercase;
    color: #ffffff !important;
}

.title {
    margin-bottom: 24px !important;
}

.icon_empty {
    padding: 20px 20px;
    margin-top: 18px;
    display: inline-block;
    font-size: 2em;
    border: 1px dashed #565682;
    border-radius: 12px;
}

.segment {
    margin: 12px 0px !important;
    cursor: pointer;
    border-radius: 12px !important;
    transition: ease-in-out 0.2s;
}

.action_icon {
    display: none !important;
    transition: ease-in-out 0.2s;
    margin: 0 6px !important;
}

.action_icon:hover {
    transform: scale(1.4);
}

.segment:hover .action_icon {
    display: inline-block !important;
}

.segment:hover {
    transform: scale(1.02);
    position: absolute;
    width: 90%;
}

.action_icon_wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}