.icon {
    padding: 20px 20px;
    display: inline-block;
    margin-top: 18px;
    font-size: 2em;
    border-radius: 12px;
    text-transform: uppercase;
    color: #ffffff !important;
}

.title {
    margin-bottom: 10px !important;
}

.icon_empty {
    padding: 20px 20px;
    margin-top: 18px;
    display: inline-block;
    font-size: 2em;
    border: 1px dashed #565682;
    border-radius: 12px;
}