.sidebar_wrapper {
    padding-bottom: 0 !important;
    padding-right: 0 !important;
}

.content_wrapper {
    background-color: #EDEFF2;
    padding-bottom: 0 !important;
    padding: 0 4rem !important;
}